django==4.2.16
django-admin-tools
django-crispy-forms
django-debug-toolbar
django-extensions
django_cleanup
django_bootstrap_icons
crispy-bootstrap5
mysqlclient
paho-mqtt
sox==1.4.1
Pillow
astropy==5.3.4
humanize
tzlocal
numpy
scipy
matplotlib
tflite-runtime
tuya-iot-py-sdk
psycopg
